<div
    {%if invoice.one_per_page %}
      class="invoice invoice-a4"
    {% else %}
      class="invoice"
    {% endif %}>
  <div 
    {%if invoice.one_per_page %}
      class="header header-a4"
    {% else %}
      class="header"
    {% endif %}>
    <div class="supplier">
      <p>
        <strong>{{ _("Supplier", "Furnizor") }}:</strong>
        {{ supplier.name }}
      </p>
      <p>{{ supplier.details }}</p>
      <p>VAT {{ supplier.vat_number }}</p>
      <p>{{ supplier.address }}</p>
      <p>{{ supplier.bank }}</p>
      <p>SWIFT: <strong>{{ supplier.swift }}</strong></p>
      <p>
        {{ currency }}:
        <strong>{{ supplier.accounts[currency] }}</strong>
      </p>
    </div>

    <div class="client">
      <p><strong>Client:</strong> {{ client.name }}</p>
      <p>{{ client.details }}</p>
      {% if client.vat_number %}
        <p>VAT {{ client.vat_number }}</p>
      {% endif %}
      <p>{{ client.address }}</p>
      <p>{{ client.bank }}</p>
    </div>

    <div class="headline">
      <h2>{{ _("Invoice", "Factură") }}</h2>

      <p class="number">
        {{ _("Number", "Număr") }}
        <strong>{{ invoice.number }}</strong>,

        {{ _("date", "din") }}
        <time>{{ invoice.date|datefmt }}</time>,

        {{ _("payment terms", "scadentă la") }}
        <time>{{ invoice.due_date|datefmt }}</time>
      </p>

      <p class="currency-vat">
        {{ _("exchange rate", "curs valutar") }}:
        <strong>{{ invoice.exchange_rate['EUR'] }}</strong><br>
        &mdash; {{ currency }} &mdash; {{ _("VAT rate", "cotă TVA") }} 0%
      </p>
    </div>

  </div>


  <table 
    {%if invoice.one_per_page %}
      class="products products-a4"
    {% else %}
      class="products"
    {% endif %}>
    <thead>
      <th>Nr.</th>
      <th>{{ _("Description", "Denumire produs/serviciu") }}</th>
      <th>UM</th>
      <th>{{ _("Quantity", "Cantitate") }}</th>
      <th>{{ _("Unit price", "Preț unitar") }}</th>
      <th>{{ _("Amount", "Valoare") }}</th>
    </thead>

    <tbody>
      {% for product in invoice.products %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          {{ product.name }}
        </td>
        <td>{{ invoice.contract.unit }} </td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.ppu or invoice.price_per_unit}}</td>
        <td>{{ product.quantity * (product.ppu or invoice.price_per_unit)}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table
    {%if invoice.one_per_page %}
      class="footer footer-a4"
    {% else %}
      class="footer"
    {% endif %}>
    <tbody>
      <tr>
        <td rowspan=2 class="supplier_sign">
          <p>{{ _("Supplier sign", "Semnătura și ștampila furnizorului") }}</p>
          <p>{{ supplier.delegate }}</p>
        </td>

        <td rowspan=2 class="delegate">
          {% if invoice.local %}
            <p>Date privind expediția</p>
            <p>Numele delegatului: {{ client.delegate }}</p>
          {% endif %}
        </td>

        <td>
          <p>Total: <strong>{{ invoice.total }}</strong></p>
          {%- if not invoice.local %}
            <p>Total (RON): {{ invoice.total_ron }}</p>
          {%- endif %}
        </td>
      </tr>

      <tr>
        <td>
          <p class="signature">
            {{-_("Signature of receipt", "Semnătură de primire")-}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
